/.usermin
/indexx.html
/phpmyadmin
/roundcube
/themes.zip
# Local Netlify folder
.netlify
.env
.qodo
.DS_Store
node_modules/
nextjs-portfolio/node_modules/
nextjs-portfolio/.next/
nextjs-portfolio/.turbo/
nextjs-portfolio/.swc/
nextjs-portfolio/.vercel/
nextjs-portfolio/tsconfig.tsbuildinfo
